--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
packaging
setuptools
wheel
ninja
transformers @ git+https://github.com/Biohub/transformers.git@main
esm@git+https://github.com/Biohub/esm.git@main
filelock
numpy
pandas
biopython
rdkit
scipy
prody
scikit-learn
ml-collections
dm-tree
